p > a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  p > a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  p > a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
  }
  
  p > a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }